.navbar {
    background-color: #07344C;
}

body {
    background-color: #FBE4B7;
}


.jumbotron {
    font-family: "Comic Sans MS";
    background-color: #0797A0 !important;
    margin: auto;
    border-style: solid;
    border-color: #F8A455;
}

.contact-form {
    background-color: #0797A0;
    border-width: 1em;
    border-radius: 10%;
    border-style: solid;
    border-color: black;
    margin: auto;
    height: 40em;
    width: 30em;
    font-family: "Times New Roman";
}

.photo-gallery {
    background-color: #07344C;
    padding: 100px;
    width: auto;
    margin-bottom: 5em;
}

.carousel-inner {
    margin: auto;
    padding: 20px;
}

.photos{
    margin: 0 auto;
}

.btn-primary{
    margin-top: 20px;
}

.challenge-links {
    background-color: #F8A455;
    padding: 3em;
    width: 40em;
    height: 40em;
    margin: auto;
    text-align: center;
    margin-top: 5em;
}

.align-items-center{
    align-content: center;
    padding: 50px;
}

li {
    font-size: large;
    color: darkslategray !important;
    text-align: left;
}

.student-question{
    font-weight: bold;
    padding: 3px;
}

.footer{
    background-color: #07344C;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
