.jumbotron {
    font-family: Lucida Console, Courier, monospace;
    background-color: black;
    padding: 3em;
    margin: 2em;
    border-style: solid;
    border-color: #CD8C4E;
}

.contact-form {
    background-color: darkgray;
    border-width: 3em;
    border-style: solid;
    border-color: black;
    margin-bottom: 10em;
    margin-left: auto;
    margin-right: auto;
    height: 40em;
    width: 30em;
    font-family: "Times New Roman";
}

.photo-gallery {
    background-color: #F6E2B0;
    padding: 60px;
    width: auto;
}

.carousel-inner {
    margin: auto;
    padding: 20px;
}

.photos{
    margin: 0 auto;
}

.btn-primary{
    margin-top: 20px;
}

.challenge-links {
    background-color: #79C29D;
    padding: 3em;
    width: 30em;
    height: 30em;
    margin: auto;
    text-align: center;
}

.align-items-center{
    align-content: center;
    padding: 50px;
}

.list-links {
    font-size: larger;
    text-align: left;
}

.student-question{
    font-weight: bold;
    padding: 3px;
}

.footer{
    background-color: #5D735A;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
