

.desktop {
    ;
}

.mobile{

}

.header2{
    color: floralwhite;
    background-color: darkcyan;
}

body {
    background-color: slategrey;
}

.list
{
    background-color: darkcyan;
    color: floralwhite;
}