
body {
    background-color: slategrey;
}

table{
    border: 2px;
    font-weight: bold;
    margin: auto;
    font-size: larger;
}
tr {
    background-color: lightgrey;
}

td{
    color: darkcyan;
    font-style: italic;
}

.header {
    font-style: italic;
    font-size: xx-large;
    font-family: sans-serif;
    color: floralwhite;
    text-align: center;
}

img {
    border-radius: 50%;
    display: block;
    margin: 50px auto;
}

h3 {
    text-align: center;
    color: floralwhite;
    background-color: darkcyan;
}

.list {
    color: seashell;
    font-family: "American Typewriter";
}