.jumbotron {
    font-family: Lucida Console, Courier, monospace;
    background-color: black;
    padding: 3em;
    margin: 2em;
    border-style: solid;
    border-color: black;
}

.contact-form {
    background-color: darkgray;
    border-width: 2em;
    border-style: solid;
    border-color: black;
    height: 40em;
    width: 30em;
    margin: auto;
}

.photo-gallery {
    background-color: lightgray;
    padding: 60px;
    width: auto;
    border-color: black;
    border-width: 10px;
    margin-bottom: 20px;
}

.carousel-inner {
    margin: auto;
}

.photos{
    margin: auto
}

.btn-primary{
    margin-top: 20px;
}

.challenge-links {
    background-color: lemonchiffon;
    padding: 3em;
    width: 30em;
    height: 30em;
    margin: auto;
}

.footer{
    background-color: lightgrey;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
