.jumbotron {
    font-family: Lucida Console, Courier, monospace;
    padding: 3em;
    background-color: black;
    margin: 2em;
    border-style: solid;
    border-color: black;
}

.contact-form {
    height: 40em;
    width: 30em;
    background-color: darkgray;
    float: right;
    border-width: 2em;
    border-style: solid;
    border-color: black;
    margin-left: 15em;
    padding-top: 3em;
    padding-bottom: 5em;
}

.photo-gallery {
    padding: 15em;
    margin-top: 10em;
    margin-bottom: 10em;
    border-width: 4em;
    border-color: darkslategray;
}

.challenge-links {
    background-color: lemonchiffon;
    padding: 3em;
    width: 30em;
    height: 30em;
    margin-left: 10em;
    margin-top: 5em;
}

.container-footer {}