.jumbotron {
    font-family: Lucida Console, Courier, monospace;
    background-color: black;
    padding: 3em;
    margin: 2em;
    border-style: solid;
    border-color: black;
}

.picture{
    background-color: mediumturquoise;
}

.contact-form {
    background-color: darkgray;
    border-width: 2em;
    border-style: solid;
    border-color: black;
    margin: auto;
    height: 40em;
    width: 30em;
    margin-top: 50px
}

.photo-gallery {
    background-color: lightgray;
    padding: 15em;
    border-width: 4em;
    border-color: darkslategray;
    color: darkslategray;
}

.challenge-links {
    background-color: lemonchiffon;
    padding: 3em;
    width: 30em;
    height: 30em;
    margin: auto;
}

.footer{
    margin-top: 5em;
    background-color: lightgray;
    color: black;
}